<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table class="tb_col">
    <tr>
        <th>name</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.getLoginId()}"></td>
        <td>
            <button th:loginId="${member.getLoginId()}" th:onclick="sendMatchRequest(this.getAttribute('loginId'))">대결
                신청
            </button>
        </td>
    </tr>
</table>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    var stompClient = null;
    var userId = null;

    window.onload = function () {
        connect();
    }

    function connect() {
        userId = [[${userID}]];
        console.log(userId);

        if (userId) {
            var socket = new SockJS('/stomp');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onConnected, onError);
        }
    }

    function onConnected() {
        stompClient.subscribe('/topic/public', onMessageReceived);
    }

    function onError() {
        alert("error");
    }

    function getMatchId() {
        $.ajax({
            url: "/match/new",
            type: "GET",
            contentType: "application/json",
            success: function (result) {
                if (result) {

                } else {
                    alert("db에 problem 컨텐츠가 없습니다.");
                }
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function sendMatchRequestSocket(opponent, matchId) {
        stompClient.send("/app/chat.sendRequest", {}, JSON.stringify({
            sender: userId,
            receiver: opponent,
            matchId: matchId
        }));
    }

    function sendMatchRequest(opponent) {
        getMatchSession(opponent);
    }

    function matchRequestPopup(sender, matchId) {
        if (confirm(sender + "로부터 매치 요청이 도착했습니다: ")) {
            redirectToMatch(matchId);
        } else {
        }
    }

    function onMessageReceived(payload) {
        var message = JSON.parse(payload.body);
        if (message.receiver === userId) {
            matchRequestPopup(String(message.sender), String(message.matchId));
        }
    }

</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function getMatchSession(guestId) {
        $.ajax({
            url: "/match/new",
            type: "POST",
            data: JSON.stringify({
                host: userId,
                guest: guestId
            }),
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    redirectToMatch(result.matchId);
                    sendMatchRequestSocket(guestId, result.matchId);
                } else {
                    alert("db에 problem 컨텐츠가 없습니다.");
                }
            },
            error: function () {
                alert("에러 발생");
            }
        })
    }

    function redirectToMatch(matchId) {
        document.location.href = '/match/' + matchId
    }

</script>
</body>
</html>