<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>

<p th:text="'match id = '+${matchSession.getMatchId()}"></p>
<p th:text="'host id = '+${matchSession.getHostId()}"></p>
<p th:text="'guest id = '+${matchSession.getGuestId()}"></p>
<p th:text="'problem id = '+${matchSession.getProblemId()}"></p>

<a th:text="'my score:'"></a>
<a id="my_score"></a>
<p></p>
<a th:text="'opponent\'s score:'"></a>
<a id="opponent_score"></a>

<p id="problem_desc"></p>

<p>
    <textarea id="code_input" placeholder="코드를 입력하세요"></textarea>
</p>
<p>
    <button th:onclick="submit()">submit</button>
</p>

<p id="score"></p>
<p id="demo"></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    var stompClient = null;
    var problemId;
    var userId;
    var matchId;
    var offset;

    window.onload = function () {
        getProblem("[[${matchId}]]");
        setInterval(countDown, 1000);
        setTimeOffset()
        matchConnect();
    };

    function getProblem(matchId) {
        $.ajax({
            url: "/match/" + matchId + "/problem",
            type: "GET",
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    problemId = result.id;
                    document.getElementById("problem_desc").innerHTML = result.question + result.example;
                } else {
                    alert("문제 데이터가 없습니다.");
                }
            },
            error: function (error) {
                alert("문제 로드 에러 발생");
                alert(JSON.stringify(error));
            }
        })
    }


    function matchConnect() {
        userId = "[[${userId}]]";
        matchId = "[[${matchId}]]";
        console.log(userId);

        if (userId) {
            var socket = new SockJS('/stomp');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, onMatchConnected, onError);
        }
    }


    function onMatchConnected() {
        stompClient.subscribe('/topic/public', onSystemMessageReceived);
    }

    function onError() {
        alert("error");
    }

    function onSystemMessageReceived(payload) {
        var message = JSON.parse(payload.body);
        if (message.messageType === 'GAME_END') {
            // document.location.href = "/match/result";
        }
        if (message.messageType === 'UPDATE_SCORE' && message.sender !== userId) {
            document.getElementById("opponent_score").innerHTML = String(message.body);
        }


    }


    function submit() {
        let code = document.getElementById("code_input").value;

        $.ajax({
            url: "/problem/submit",
            type: "POST",
            data: JSON.stringify({
                problemId: problemId,
                code: code
            }),
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    console.log(JSON.stringify(result));
                    if (result.testResult === 'succeed') {
                        // document.getElementById("score").innerHTML = "score = " + result.body;
                        document.getElementById("my_score").innerHTML = result.body;
                        sendSocketSystemMessage('UPDATE_SCORE', matchId, userId, String(result.body));
                        if (result.body === '100') {
                            sendSocketSystemMessage('GAME_END', matchId, userId, null);
                        }
                    } else {
                        document.getElementById("score").innerHTML = result.body;
                    }
                } else {
                    alert("반환 데이터가 없습니다.");
                }
            },
            error: function (error) {
                alert("문제 제출 에러 발생");
                console.log(JSON.stringify(error));
            }
        })
    }

    function sendSocketSystemMessage(messageType, matchId, sender, body) {
        stompClient.send("/app/chat.sendData", {}, JSON.stringify({
            messageType: messageType,
            matchId: matchId,
            sender: sender,
            body: body
        }));
    }


    function setTimeOffset() {
        offset = new Date();
    }


    function countDown() {
        var countDownDate = offset;
        var now = new Date().getTime();
        var distance = now - countDownDate;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }

    }

</script>
</body>
</html>