<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
</head>
<body>

<p th:text="'match id = '+${matchSession.getMatchId()}"></p>
<p th:text="'host id = '+${matchSession.getHostId()}"></p>
<p th:text="'guest id = '+${matchSession.getGuestId()}"></p>
<p th:text="'problem id = '+${matchSession.getProblemId()}"></p>
<p id="problem_desc"></p>

<p>
    <textarea id="code_input" placeholder="코드를 입력하세요"></textarea>
</p>
<p>
    <button th:onclick="submit()">submit</button>
</p>

<p id="score"></p>
<p id="demo"></p>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    var problemId;
    var offset;

    window.onload = function () {
        getProblem("[[${matchId}]]");
        setInterval(countDown, 1000);
        setTimeOffset()
    };

    function getProblem(matchId) {
        $.ajax({
            url: "/match/" + matchId + "/problem",
            type: "GET",
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    console.log(result);
                    problemId = result.id;
                    document.getElementById("problem_desc").innerHTML = result.question + result.example;
                } else {
                    alert("문제 데이터가 없습니다.");
                }
            },
            error: function (error) {
                alert("문제 로드 에러 발생");
                alert(JSON.stringify(error));
            }
        })
    }


    function submit() {
        let code = document.getElementById("code_input").value;

        $.ajax({
            url: "/problem/submit",
            type: "POST",
            data: JSON.stringify({
                problemId: problemId,
                code: code
            }),
            contentType: "application/json",
            success: function (result) {
                if (result) {
                    console.log(JSON.stringify(result));
                    if (result.testResult === 'succeed') {
                        document.getElementById("score").innerHTML = "score = " + result.body;
                    } else {
                        document.getElementById("score").innerHTML = result.body;
                    }
                } else {
                    alert("반환 데이터가 없습니다.");
                }
            },
            error: function (error) {
                alert("문제 제출 에러 발생");
                console.log(JSON.stringify(error));
            }
        })
    }


    function setTimeOffset() {
        offset = new Date();
    }


    function countDown() {
        var countDownDate = offset;
        var now = new Date().getTime();
        var distance = now - countDownDate;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }

    }

</script>
</body>
</html>